body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.encab {
   
  background-color: rgba(0, 0, 0, 0.521);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  align-content: stretch;

}

header h1 {
  color: white;
}

.menu {
  list-style-type: none;
  
  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;   
  justify-content: flex-start;
  align-items: center;

  gap: 16px;
  /*align-content: space-around;*/
}

.menu li {
    
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
         
}

.link {
    
  text-decoration: none;
  color: white;
  
}


/*carrito de compras*/

.carroCompras {

  display:flex;
  gap: 5px;
}


/* Saludo */

.SaludoContainer {
  text-align: center;
}

.link {
  color:orange
}

/*imagenes*/

.imagen_muestra {
  height: 300px;
  border-radius: 5px;
}

.tarjetas{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}

/* .container{
  display:flex;
  flex-direction: column;
  width: auto
} */

.botones {
  display: flex;
  gap: 8px
}

.cartList{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px
}